:root {
  --lightBlue: #95b8d1;
  --mainwhite: #f5f5f5;
  --mainBlack: #333333;
}
body {
  min-height: 100vh;
  background: var(--lightBlue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-content{
  color: var(--lightBlue);
  background: var(--mainwhite);
}

.feedback {
  display: none;
}

.show {
  display: block;
}

#submitBtn{
  background: var(--lightBlue);
  color: var(--mainwhite);
}

#submitBtn:hover {
  color: var(--mainBlack);
}